.linkedin-revenue-section {
  font-family: Arial, sans-serif;
  color: #000;
  padding: 40px 20px;
  background: #eaeffa;
  text-align: center;
}

.heading-above h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #090f4e;
  line-height: 1.2;
}

.bg-image-section {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto 50px auto;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.overlay-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 13px;
  background-color: #b3fc6a;
  box-shadow: 0px 8px 24px 0px #959da533;
  color: #242424;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #9de14f;
}

@media (max-width: 1024px) {
  .heading-above h1 {
    font-size: 2rem;
  }

  .overlay-text {
    font-size: 1.4rem;
    padding: 12px 18px;
  }

  .bg-image-section {
    height: 300px;
  }

  .cta-button {
    font-size: 15px;
    padding: 10px 18px;
  }
}

@media (max-width: 768px) {
  .heading-above h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .overlay-text {
    font-size: 1.2rem;
    padding: 0 15px;
  }

  .bg-image-section {
    height: 250px;
  }

  .cta-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .heading-above h1 {
    font-size: 1.3rem;
  }

  .overlay-text {
    font-size: 0.8rem;
    padding: 3px 5px;
    margin-top: 20px;
  }

  .bg-image-section {
    height: 200px;
  }

  .cta-button {
    font-size: 13px;
    padding: 6px 12px;
  }
}
